# PostHog (Lab 5)
POSTHOG_KEY=phc_your_key_here
POSTHOG_HOST=https://us.i.posthog.com

# Sentry (Lab 6)
SENTRY_DSN=https://your_dsn@oXXXXX.ingest.us.sentry.io/YYYYY
SENTRY_AUTH_TOKEN=sntrys_your_token_for_sourcemaps
